.thumbs {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.thumbs li {
  width: 20%;
  margin: 0 1%;
  padding: 3px;
  display: inline-block;
  vertical-align: top;
}

.thumbs li.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 0 1px black;
}

.thumbs img {
  display: block;
  width: 100%;
  height: auto;
}
